<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <javaee:display-name>Datartisan</javaee:display-name>
  <servlet>
    <servlet-name>UserView</servlet-name>
    <servlet-class>com.lqb.servlet.UserView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RobotResponse</servlet-name>
    <servlet-class>com.lqb.robot.RobotResponse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AprBubbleServlet</servlet-name>
    <servlet-class>com.lqb.servlet.AprBubbleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CluBubbleServlet</servlet-name>
    <servlet-class>com.lqb.servlet.CluBubbleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HierarchicalServlet</servlet-name>
    <servlet-class>com.lqb.servlet.HierarchicalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegiTreeServlet</servlet-name>
    <servlet-class>com.lqb.servlet.RegiTreeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TilfordTreeServlet</servlet-name>
    <servlet-class>com.lqb.servlet.TilfordTreeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TreeMapServlet</servlet-name>
    <servlet-class>com.lqb.servlet.TreeMapServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScatterMatrixServlet</servlet-name>
    <servlet-class>com.lqb.servlet.ScatterMatrixServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForceDirectServlet</servlet-name>
    <servlet-class>com.lqb.servlet.ForceDirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ParallelServlet</servlet-name>
    <servlet-class>com.lqb.servlet.ParallelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MiserMatrixServlet</servlet-name>
    <servlet-class>com.lqb.servlet.MiserMatrixServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StackPieServlet</servlet-name>
    <servlet-class>com.lqb.servlet.StackPieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Scatter3dServlet</servlet-name>
    <servlet-class>com.lqb.servlet.Scatter3dServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PieServlet</servlet-name>
    <servlet-class>com.lqb.servlet.PieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HistogramServlet</servlet-name>
    <servlet-class>com.lqb.servlet.HistogramServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.lqb.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PartitionTreeServlet</servlet-name>
    <servlet-class>com.lqb.servlet.PartitionTreeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArffDetailServlet</servlet-name>
    <servlet-class>com.lqb.servlet.ArffDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AprMatrixServlet</servlet-name>
    <servlet-class>com.lqb.servlet.AprMatrixServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CluRadarServlet</servlet-name>
    <servlet-class>com.lqb.servlet.CluRadarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CluPieServlet</servlet-name>
    <servlet-class>com.lqb.servlet.CluPieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CluScatterServlet</servlet-name>
    <servlet-class>com.lqb.servlet.CluScatterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RobotResponse</servlet-name>
    <url-pattern>/RobotResponse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserView</servlet-name>
    <url-pattern>/UserView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AprBubbleServlet</servlet-name>
    <url-pattern>/AprBubbleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CluBubbleServlet</servlet-name>
    <url-pattern>/CluBubbleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HierarchicalServlet</servlet-name>
    <url-pattern>/HierarchicalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegiTreeServlet</servlet-name>
    <url-pattern>/RegiTreeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TilfordTreeServlet</servlet-name>
    <url-pattern>/TilfordTreeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TreeMapServlet</servlet-name>
    <url-pattern>/TreeMapServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScatterMatrixServlet</servlet-name>
    <url-pattern>/ScatterMatrixServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForceDirectServlet</servlet-name>
    <url-pattern>/ForceDirectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParallelServlet</servlet-name>
    <url-pattern>/ParallelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MiserMatrixServlet</servlet-name>
    <url-pattern>/MiserMatrixServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StackPieServlet</servlet-name>
    <url-pattern>/StackPieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PieServlet</servlet-name>
    <url-pattern>/PieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Scatter3dServlet</servlet-name>
    <url-pattern>/Scatter3dServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistogramServlet</servlet-name>
    <url-pattern>/HistogramServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PartitionTreeServlet</servlet-name>
    <url-pattern>/PartitionTreeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArffDetailServlet</servlet-name>
    <url-pattern>/ArffDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AprMatrixServlet</servlet-name>
    <url-pattern>/AprMatrixServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CluRadarServlet</servlet-name>
    <url-pattern>/CluRadarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CluPieServlet</servlet-name>
    <url-pattern>/CluPieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CluScatterServlet</servlet-name>
    <url-pattern>/CluScatterServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>